body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin-left: 2px;
    padding-left: 5px;

}
.half-width img{
    width: 100%;
}
.link-button{
    background-image: linear-gradient(red, tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}